*.2k
*.bak
*.asc
*.sig
*.aux
*.fls
*.swp
*.pdf
*.out
*.toc
TODO*
NOTES*
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.html
*.tmp
*-2k
*.4ct
*.4tc
*.dvi
*.glg
*.glo
*.gls
*.idv
*.ist
*.xref
dummy.tex
*.bat
*.torrent
cover_for_websites.jpg
RE_for_beginners-*.log
Reverse_Engineering_for_Beginners-*.log
*~
\#*#
*.xml
*.bcf
*.log
*.lyx
*.ni
*.odt
*.rtf
upload.sh
push_all.sh
/.vs
