*.tex text eol=crlf encoding=UTF-8
*.s text eol=crlf encoding=UTF-8
*.asm text eol=crlf encoding=UTF-8
*.c text eol=crlf encoding=UTF-8
*.cpp text eol=crlf encoding=UTF-8
*.lst text eol=crlf encoding=UTF-8

