*.aux
*.fls
*.swp
*.log
*.pdf
*.out
*.toc
TODO*.txt
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.html
*.tmp
*-2k
*.4ct
*.4tc
*.dvi
*.glg
*.glo
*.gls
*.idv
*.ist
*.xref
dummy.tex
*.bat
*.torrent
cover_for_websites.jpg
