language: generic

sudo: required
dist: trusty

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - texlive-latex-base
      - texlive-binaries
      - texlive-xetex
      - texlive-generic-extra  # tracklang.sty
      - texlive-generic-recommended
      - texlive-latex-extra
      - texlive-latex-recommended
      - texlive-science  # bytefield.sty
      - latex-xcolor
      # Fonts
      - lmodern
      - fonts-lmodern
      - fonts-liberation
        #- fonts-droid
      - texlive-fonts-recommended
      - texlive-fonts-extra

script:
      - make all > /dev/null # Travis won't handle that long log files

